<h1>IGWEB</h1>


<div id="introductionContainer">

<div id="bookCoverContainer">
	<a target="_blank" href="https://github.com/EngineerKamesh/igb">
		<img id="bookCover" src="/static/images/book_cover.png" width="396"> 
	</a>


<div id="socialMediaContainer">

<div class="socialMediaTile">
	<a target="_blank" href="https://github.com/EngineerKamesh/igb"><img border="0" src="/static/images/github_icon.png" height="54"></a>
</div>

<div class="socialMediaTile">
	<a target="_blank" href="https://twitter.com/EngineerKamesh"><img border="0" src="/static/images/twitter_icon.png" height="54"></a>
</div>

<div class="socialMediaTile">
	<a target="_blank" href="https://youtu.be/zrsuxZEoTcs"><img border="0" src="/static/images/youtube_icon.png" height="54"></a>
</div>

</div>

</div>

<div class="introWelcomeMessage">

<h2 class="welcomeHeading">Welcome to IGWEB, the Isomorphic Go Web Application Demo</h2>

<a href="http://isomorphicgo.org" target="_blank"><img border="0" src="/static/images/isomorphic_go_logo_homepage.png" width="405"></a>

<p>If you thought programming in Go was fun on the server-side, wait till you see what you can do with Go, in your web browser! This demo website was built using <a target="_blank" href="http://isomorphicgo.org">Isomorphic Go</a>. You can learn how to build this website, step by step, by reading <a target="_blank" href="https://www.packtpub.com/web-development/isomorphic-go">the Isomorphic Go book</a>. <a target="_blank" href="https://github.com/EngineerKamesh/igb">The source code for the entire website</a> is available on Github, and is BSD licensed.</p>

<p>Isomorphic Go allows you to build modern, isomorphic web applications using the Go programming language and GopherJS. Building isomorphic web applications can be a complex undertaking. Isomorphic Go smoothens out the process, by allowing you to re-use Go code, across the back-end, and the front-end.</p> 

<p>Having a unified Go codebase, eliminates the mental cognitive shift that is experienced when juggling between two different programming languages (such as having Go on the server-side and JavaScript on the client-side). Type checking in Go, allows you to catch many bugs early on in the development process. Perhaps, the most important payoff of implementing an Isomorphic Go web application, is <a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Figweb.kamesh.com%2Findex">the quantifiable, enhanced user experience</a>, that you will be able to deliver to your customers.</p>

</div>

</div>

<div data-component="cog" id="carousel"></div>

<h2>What time is it in the world? It's <a href="http://isomorphicgo.org" target="_blank">Isomorphic Go</a> Time!</h2>

<div id="liveClocks">
	<div data-component="cog" id="myLiveClock" class="liveclockTime"></div>
	<div data-component="cog" id="chennaiLiveClock" class="liveclockTime"></div>
	<div data-component="cog" id="singaporeLiveClock" class="liveclockTime"></div>
	<div data-component="cog" id="hawaiiLiveClock" class="liveclockTime"></div>
</div>

<h2>Go on the Front-End with GopherJS</h2>
<div id="gopherjsPrimer">
	<p><a href="/front-end-examples-demo" target="_blank">Front-End Examples </a></p>
	<p><a href="/cars-demo" target="_blank">Cars Demo</a></p>
	<p><a href="/localstorage-demo" target="_blank">Local Storage Demo</a></p>
</div>

