<h1>IGWEB</h1>

<div data-component="cog" id="carousel"></div>

<h2>What time is it in the world? It's <a href="http://isomorphicgo.org" target="_blank">Isomorphic Go</a> Time!</h2>

<div id="liveClocks">
	<div data-component="cog" id="myLiveClock" class="liveclockTime"></div>
	<div data-component="cog" id="chennaiLiveClock" class="liveclockTime"></div>
	<div data-component="cog" id="singaporeLiveClock" class="liveclockTime"></div>
	<div data-component="cog" id="hawaiiLiveClock" class="liveclockTime"></div>
</div>

<h2>Go on the Front-End with GopherJS</h2>
<div id="gopherjsPrimer">
	<p><a href="/front-end-examples-demo" target="_blank">Front-End Examples </a></p>
	<p><a href="/cars-demo" target="_blank">Cars Demo</a></p>
	<p><a href="/localstorage-demo" target="_blank">Local Storage Demo</a></p>
</div>

