<html>
	{{ template "partials/carsdemoheader" }}
<body>
		<div class="pageContent" id="primaryContent">
			{{ template "pagecontent" . }}
		</div>
<script src="/js/client.js"></script>
</body>
</html>
