<!doctype html>
<html>
	{{ template "partials/header" . }}

		<div class="pageContent" id="primaryContent">
			{{ template "pagecontent" . }}
		</div>

		<div id="chatboxContainer">
		</div>

	{{ template "partials/footer" . }}
</html>
