<!doctype html>
<html>
	{{ template "partials/header_partial" . }}

		<div id="primaryContent" class="pageContent">
			{{ template "pagecontent" . }}
		</div>

		<div id="chatboxContainer" class="containerPulse">
		</div>

	{{ template "partials/footer_partial" . }}
</html>
