<!doctype html>
<html>
	{{ template "partials/localstorageheader_partial" }}
	<body>
		<div class="pageContent" id="primaryContent">
			{{ template "pagecontent" . }}
		</div>

	<script type="text/javascript" src="/js/client.js"></script>

	</body>
</html>
