<h1>IGWEB</h1>

<h2>Go on the Front-End with GopherJS</h2>
<div id="gopherjsPrimer">
	<p><a href="/front-end-examples-demo" target="_blank">Front-End Examples </a></p>
	<p><a href="/cars-demo" target="_blank">Cars Demo</a></p>
	<p><a href="/localstorage-demo" target="_blank">Local Storage Demo</a></p>
</div>

