<head>
	<title>{{.PageTitle}}</title>	
	<link rel="icon" type="image/png" href="/static/images/isomorphic_go_icon.png">
	<link rel="stylesheet" href="/static/css/pure.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cogimports.css">
	<link rel="stylesheet" type="text/css" href="/static/css/igweb.css">
	<script src="/static/js/cogimports.js" type="text/javascript" async></script>
	<script type="text/javascript" src="/js/client.js" async></script>
</head>
<body>

<div id="topbar">{{template "partials/topbar_partial"}}</div>
<div id="navbar">{{template "partials/navbar_partial"}}</div>
