<div id="topbar" >
	<div id="logoContainer" class="neon-text"><span><a href="/index">igweb</a></span></div>
	<div id="siteControlsContainer">
		<div id="shoppingCartContainer" class="topcontrol" title="Shopping Cart"><a href="#"><img src="/static/images/cart_icon.png"></a></div>
		<div id="livechatContainer" class="topcontrol" title="Live Chat"><img id="liveChatIcon" src="/static/images/msg_icon.png"></div>
	</div>
</div>
