<head>
	<title>{{.PageTitle}}</title>	
	<link rel="icon" type="image/png" href="/static/images/isomorphic_go_icon.png">
	<link rel="stylesheet" href="/static/css/pure.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cogimports.css">
	<link rel="stylesheet" type="text/css" href="/static/css/alertify.core.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/alertify.default.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/igweb.css">
	<script type="text/javascript" src="/static/js/alertify.js" type="text/javascript"></script>
	<script src="/static/js/cogimports.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/client.js"></script>
</head>
<body>

<div id="topbar">{{template "partials/topbar"}}</div>
<div id="navbar">{{template "partials/navbar"}}</div>
